.shopping-cart-table {
  margin-top: 65px;
  button {
    margin-top: 5px;
    margin-left: 5px;
  }
}
/*tr {
  display: flex;
  justify-content: space-around;
  width: 180%;
}*/

.total {
  margin-right: 10px;

  font-size: 1.3rem;
  text-align: right;
}
